* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* SECTION ------------ */
section {
  max-width: 85%;
  margin: 0 auto;
}

/* SECTION ------------ */
h1,
h2,
h3,
h4,
h5 {
  color: rgba(0, 0, 0, 0.65);
  margin: 0;
  padding: 0;
}

/* BUTTON ------------ */
button {
  font-size: 1.2rem;
  padding: 0.4rem 0.7rem;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.45);
  color: rgba(0, 0, 0, 0.65);
  border-radius: 0.2rem;
  outline: none;
  transition: transform 0.5s, background 0.3s;
}

button:active {
  transform: translateY(3px);
}

/* LOGO ------------ */
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
}

.logo__image {
  height: 7rem;
  width: auto;
}

.logo__text {
  color: #000;
  opacity: 0.75;
  font-size: 3.4rem;
  font-weight: 300;
}

/* STATS SECTION ------------ */
.stats-section {
  max-width: 100%;
  padding: 0 7%;
  background-image: url("img/shopping-stats-bg.svg");
  height: 12rem;
  background-position: center;
  margin-bottom: 2rem;
}

.stats {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}
.stats__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
}

.stats__label {
  font-size: 1.8rem;
}

.stats__value {
  font-size: 5rem;
  font-weight: 300;
  color: #fff;
}

.stats__value span {
  font-size: 1.87rem;
}

/* SHOPPING ITEMS SECTION ------------ */
.shopping-item__heading-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.shopping-item__button {
  background-color: #be2edd;
  color: #fff;
  border-color: #be2edd;
  position: relative;
  bottom: 0.4rem;
}

.shopping-item__button:hover {
  background-color: #9807b8;
}

.shopping-item__button:active {
  background-color: #8800a6;
}

.shopping-item__title {
  font-size: 3.1rem;
  font-weight: 300;
  margin-right: 2rem;
}

/* SHOPPING ITEMS ------------ */
.items {
  background-color: #fff;
  border-radius: 1rem;
}

.items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(190, 46, 221, 0.2);
  font-size: 1.6rem;
}

.items ul li:nth-child(1) {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(190, 46, 221, 0.85);
}

.item-description {
  flex-basis: 55%;
  padding: 0.5rem;
  /* border: 1px solid; */
}

.item-quantity {
  flex-basis: 15%;
  padding: 0.5rem;
  /* border: 1px solid; */
}
.item-price {
  flex-basis: 15%;
  padding: 0.5rem;
  /* border: 1px solid; */
}
.item-total {
  flex-basis: 15%;
  padding: 0.5rem;
  /* border: 1px solid; */
}
