* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* SECTION ------------ */
section {
  max-width: 1140px;
  margin: 0 auto;
}

/* LOGO ------------ */
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
}

.logo__image {
  height: 7rem;
  width: auto;
}

.logo__text {
  color: #000;
  opacity: 0.75;
  font-size: 3.4rem;
  font-weight: 300;
}

/* STATS SECTION ------------ */
.stats-section {
  background-image: url("img/shopping-stats-bg.svg");
  height: 12rem;
  background-position: center;
}

.stats {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}
.stats__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
}

.stats__label {
  font-size: 1.8rem;
}

.stats__value {
  font-size: 5rem;
  font-weight: 300;
}

.stats__value span {
  font-size: 1.87rem;
}
