* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* LOGO ------------ */
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo__image {
  height: 7rem;
  width: auto;
}

.logo__text {
  color: #000;
  opacity: 0.75;
  font-size: 3.4rem;
  font-weight: 300;
}
